@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web:wght@200&display=swap');

:root{
    --background: #000000;
    --red: #c20000;
    --blue: #001f78;
    --gradient: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);

    --font: 'Titillium web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font);
    font-size: 16px;
    background-color: var(--background);
}

img{
    width: 100%;
}

.topo{
    width: 100%;
    height: 5em;  
    /*background-color: azure;*/
}

.content{
    width: 80%;
    height: 100%;
    max-width: 75em;
    margin: auto;
    /*background-color: burlywood;*/   
}

.flex-center-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topo img{
    max-width: 21.18em;
}

.menu{
    width: 100%;
    max-width: 45em;
}

.menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.9em 0.5em;
    text-transform: uppercase;
}

.menu a:hover{
    background-color: var(--red);
}
#menu-bars{
    display: none;
}

.banner{
    width: 100%;
    position: relative;
}
.banner-position{
    width: 100%;
    height: 100%;
    /*background-color: blue;*/
    position: absolute;
    top: 0;   
}
.banner-content{
    width: 80%;
    height: 100%;
    /*background-color: burlywood;*/
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.banner-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-text h1{
    font-size: 5.62em;
    color: white;
    
}
.banner-text p{
    font-size: 1.87em;
    color: white;
}
.banner-text a{
    font-size: 1.87em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-color: var(--red);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-top: 1em;
}
.jogos{
    width: 100%;
    height: 7.5em;  
}
.jogos ul{
    list-style-type: none;
    width: 100%;
}

@media screen and (max-width: 74.93em){

}
@media screen and (max-width: 47.93em){
    
}
@media screen and (max-width: 35.93em){
    
}
