@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --background: #000000;
    --red: #c20000;
    --blue: #001f78;
    --gradient: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);

    --font: 'Titillium web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font);
    font-size: 16px;
    background-color: var(--background);
}

img{
    width: 100%;
}

.topo{
    width: 100%;
    height: 5em;  
    /*background-color: azure;*/
}

.content{
    width: 80%;
    height: 100%;
    max-width: 75em;
    margin: auto;
    /*background-color: burlywood;*/   
}

.flex-center-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topo img{
    max-width: 21.18em;
}

.menu{
    width: 100%;
    max-width: 45em;
}

.menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.9em 0.5em;
    text-transform: uppercase;
}

.menu a:hover{
    background-color: var(--red);
}
#menu-bars{
    display: none;
}

.banner{
    width: 100%;
    position: relative;
}
.banner-position{
    width: 100%;
    height: 100%;
    /*background-color: blue;*/
    position: absolute;
    top: 0;   
}
.banner-content{
    width: 80%;
    height: 100%;
    /*background-color: burlywood;*/
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.banner-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-text h1{
    font-size: 5.62em;
    color: white;
    
}
.banner-text p{
    font-size: 1.87em;
    color: white;
}
.banner-text a{
    font-size: 1.87em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-color: var(--red);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-top: 1em;
}
.jogos{
    width: 100%;
    height: 7.5em;
    color: #fff;  
}
.jogos ul{
    list-style-type: none;
    width: 100%;
}
.jogos ul a:hover img{
    transform: 0.5s;
    transform: scale(1.2);
}
.about{
    width: 100%;
    height: 31.25em;
    background-color: var(--blue);
    position: relative;
}
.about-angulation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.angulation{
    width: 100%;
    height: 25em;
    background-color: #000;
    transform: skewY(-3deg);
}
.about-position{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.about-text{
    width: 50%;
    color: #fff;
    text-align: justify;  
}
.about-text h2{
    font-size: 2.18em;
    margin-bottom: 0.5em;

}
.about-text p{
    font-size: 1.125em;
    margin-bottom: 1em;
}
.about-position img{
    max-width: 31.87em;
}
.jogos-aovivo{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.875em;
}
.jogos-aovivo, .jogos-embreve{
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 1.875em;
}
.jogos-aovivo::after{
    content: '';
    height: 2.666em;
    border: solid 1px #fff;
}
.partida{
    width: 9.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1em;

}
.partida img{
    max-width: 1.8em;
}
.time1,.time2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}
.time1 img{
    margin-left: 0.5em;
}
.time2 img{
    margin-right: 0.5em;
}
.


@media screen and (max-width: 74.93em){

}
@media screen and (max-width: 47.93em){
    
}
@media screen and (max-width: 35.93em){
    
}